:root {
    --fontTexto:  'Raleway', sans-serif;
    --fontHeading: 'Staatliches', cursive;

    /** Colores **/
    --azul : #00487C;
    --rojo : #A01C48;
    --naranja : #F58549;
    --amarillo: #ECA400;
    --verde : rgb(20, 131, 20);

    /** gris **/
    --gris: #969696;
    --grisOscuro : #707070;
    --grisClaro: rgb(243, 243, 243);
}
body {
    background-color: var(--grisClaro);
    font-size: 1.6rem;
    font-family: var(--fontTexto);
}
html {
    
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    font-family: var(--fontTexto);
    color: black;
    text-decoration: none;
}
/** GLOBALES **/
h1{
    font-family: var(--fontHeading);
}
h2 {
    font-family: var(--fontTexto);
    color: var(--grisOscuro);
    font-size: 3rem;
}
.contenedor {
    max-width: 1400px;
    margin: 0 auto;
    width: 95%;
}

/** BOTONES **/
.btn-block {
    display: block!important;
    flex: 1 0  100%!important;
    width: 100%!important;
}
.btn {
    padding:  1.5rem;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    font-family: var(--fontTexto);
    border: none;
    flex: 0 0 100%;
    width: 100%;
}
.btn:hover {
    cursor: pointer;
}
@media (min-width: 768px) {
    .btn {
        display: inline-block;
        flex: 0 0 auto;
        width: auto;
    }
}
.btn i {
    margin-right: 1rem;
}
.btn-azul {
    background-color: var(--azul);
}
.btn-rojo {
    background-color: var(--rojo);
}
.btn-naranja {
    background-color: var(--naranja);
}
.btn-amarillo {
    background-color: var(--amarillo);
}
.btn-verde {
    background-color: var(--verde);
}
.btn:disabled {
    opacity: .4;
}
.nvo-cliente {
    padding: 2rem 4rem;
    width: auto;
}
.btn-eliminar {
    margin-top: 1rem;
    font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif; 
    font-weight: 900; 
}
/** GRID **/
@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
    }
    .col-3 {
        flex: 0 0 calc(25% - 1rem);
    }
    .col-9 {
        flex: 1 0 calc(75% - 1rem);
    }
}
.barra {
    background-color: var(--azul);
    padding: 2rem 0;
}
.barra h1 {
    margin:0;
    color: white;
}
.contenido-barra {
    text-align: center;
}
.contenido-barra button {
    margin-top: 2rem;

}
@media (min-width: 768px) {
    .contenido-barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contenido-barra button {
        margin: 0;
    }
}
.contenido-principal{
    margin-top: 4rem;
}

/** Navegacion **/
.sidebar {
    padding-top: 1.8rem;
}

.navegacion a {
    display: block;
    font-family: var(--fontTexto);
    color: var(--grisOscuro);
    margin-bottom: 2rem;
    font-size: 1.8rem;
    position: relative;
    padding-left: 5rem;
    padding-top: 2rem;
}
.navegacion a::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 3rem;
    margin-right: 1rem;
    position: absolute;
    left: 0;
    top: 1rem;
}
.navegacion a.clientes::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0c0";
}
.navegacion a.productos::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f468";
}
.navegacion a.pedidos::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f02d";
}

/** Caja **/

@media (max-width: 767px) {
    .caja-contenido{
        margin-top: 5rem;
    }
}
.caja-contenido {
    background-color: white;
    padding: 2rem 3rem;
    min-height: 80rem;
    -webkit-box-shadow: 0px 7px 6px -5px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 7px 6px -5px rgba(0,0,0,0.36);
    box-shadow: 0px 7px 6px -5px rgba(0,0,0,0.36);
    border-radius: 1rem;
}

/** Mostrar Clientes **/
.listado-clientes,
.listado-productos,
.listado-pedidos {
    list-style: none;
    padding: 0;
}
.cliente,
.producto,
.pedido,
.resumen li {
    padding: 2rem 0;
    border-bottom: 1px solid var(--grisClaro);
}
.cliente:last-of-type,
.producto:last-of-type, 
.pedido:last-of-type{
    border-bottom: 0;
}
@media (min-width: 768px) {
    .cliente,
    .producto,
    .pedido {
        display: flex;
        justify-content: space-between;
    }
    .cliente .info-cliente,
    .producto .info-producto,
    .pedido .info-pedido {
        flex: 0 0 calc(70% - 1rem);
    }
    .cliente .acciones,
    .producto .acciones,
    .pedido .acciones {
        flex: 0 0 calc(30% - 1rem);
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    
    .pedido .acciones,
    .producto .acciones  {
        justify-content: flex-start;
    }
}
.acciones form {
    width: 100%;
}
.acciones .btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .cliente .acciones a:last-of-type,
    .producto .acciones a:last-of-type, 
    .pedido .acciones a:last-of-type {
        margin-bottom: 0;
    } 
}
.cliente p,
.producto p,
.pedido p {
    margin: 2rem 0;
}
.cliente .nombre,
.producto .nombre,
.pedido .id,
.resumen .nombre {
    font-size: 2.4rem;
    color: var(--azul);
}
.cliente .empresa,
.pedido .nombre, 
.resumen .precio{
    font-weight: 700;
    font-size: 2rem;
}
.pedido .total {
    font-weight: 700;
    color: var(--azul);
    font-size: 2.4rem;
}
.pedido .productos {
    font-weight: 700;
}
.articulos-pedido {
    padding: 2rem;
    background-color: #f1f1f1;
}
.pedido ul  {
    list-style: none;
    padding: 0;
}
.pedido ul li:first-of-type {
    border-top: none;
}
.pedido ul li:last-of-type {
    border-bottom: none;
}
.pedido ul li {
    border-top: 1px solid #e1e1e1;
}

/** Formularios **/
form {
    width:95%;
    max-width: 800px;
    margin: 4rem auto 0 auto;
}
form legend {
    font-size: 2.4rem;
    color: var(--azul);
    font-family: var(--fontTexto);
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 2rem;
    margin-bottom: 2rem;
}

form .campo {
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
form .campo label {
    font-weight: bold;
    font-family: var(--fontTexto);
    flex: 0 0 100px;
}
form .campo input:not([type="submit"]){
    padding: 1.5rem;
    flex: 1;
    border: 1px solid #e1e1e1;
}
form .campo input[readonly] {
    background-color: #e1e1e1;
}
.enviar {
    padding: .5rem 2rem;
    display: flex;
    justify-content: flex-end;
}
.resumen {
    padding: 0;
}
.resumen li {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.resumen li .texto-producto, 
.resumen li .acciones  {
    flex: 0 0 calc(50% - 2rem);
}
.resumen .acciones {
    display: flex;
    flex-wrap: wrap;
}
.contenedor-cantidad {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex:  0 0 100%;
    margin-bottom: 2rem;
}
.contenedor-cantidad i {
    flex: 0 0 4rem;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-minus,
.fa-plus {
    color: white;
}
.fa-minus:hover,
.fa-plus:hover {
    cursor: pointer;
}
.contenedor-cantidad .fa-plus,
.contenedor-cantidad .fa-minus  {
    background-color: var(--azul);
}
.contenedor-cantidad input {
    flex: 1;
    padding: 1rem;
}

/** AJUSTES SWEETALERT**/
.swal2-popup  .swal2-title {
    font-size: 3rem!important;
}
.swal2-popup #swal2-content {
    font-size: 2rem;
}
.swal2-confirm,
.swal2-cancel {
    font-size: 2rem!important;
    padding: 1rem 3rem;
}
.swal2-popup.swal2-modal{
    padding: 4rem;
    width: 60rem;
}

.ficha-cliente {
    background-color: var(--grisClaro);
    padding: 1rem 4rem;
}
h3.resumen-titulo {
    font-size: 2.4rem;
    text-align: center;
    color: var(--azul);
}
.total {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: right;
    padding: 2rem;
    text-align: center;
}
.total span {
    color: var(--azul);
}

.login {
    max-width: 520px;
    margin: 15rem  auto 0 auto;
    padding: 4rem 2rem;
    background-color: var(--grisClaro);
    border-radius: 1.5rem;
}
.login h2 {
    text-align: center;
}
.login .contenedor-formulario {

}